## Settings file was created by plugin Custom Meshes v0.1.5
## Plugin GUID: aedenthorn.CustomMeshes

[General]

## Enable this mod
# Setting type: Boolean
# Default value: true
Enabled = true

## Nexus id for update checking
# Setting type: Int32
# Default value: 184
NexusID = 184

