# Config file for QuickConnect mod
# Lines starting with # and empty lines are ignored

# Put one server per line
# name:addr:port:password

# addr can be ether IP or a fully qualified domain name

Die Anstalt Gaming Valheim:patzab.de:2456:gg
